@import "../../node_modules/@blueprintjs/core/lib/css/blueprint.css";
@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* disabling focus on readonly input fields*/
.bp5-input:hover{
    cursor:default;
}

.bp5-input:focus{
  cursor:default;
  outline:none;
}

/* due to dark theme -> text color white*/
.bp5-switch-inner-text {
  color:#e7e8e8
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  color: #e7e8e8;
  background: #0f1318;
}